.pre-loaded {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
  from {
    left: 0%;
    width: 170px;
  }

  to {
    right: 70%;
    width: 170px;
  }
}

.nav {
    opacity: 20%;
}

div.progress.bar.up {
    width: 100%;
    height: 57px;
    background-color: aqua;
}

div.determinate.symfony {
    width: 0%;
    height: 55px;
    background-color: black;
    animation: slideIn 1s 1s linear forwards;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

